@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    @apply bg-background text-on-surface h-screen w-screen overflow-hidden flex flex-col font-body-md select-none;
  }
}

.pulse-ring {
    animation: pulse-ring 2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

@keyframes pulse-ring {
    0% { transform: scale(0.8); opacity: 1; }
    100% { transform: scale(2); opacity: 0; }
}

/* Custom scrollbar for stream */
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    @apply bg-surface-container-highest;
}
::-webkit-scrollbar-thumb {
    @apply bg-outline-variant;
}
